**/.DS_Store
**/__pycache__
**/.venv
**/.classpath
**/.conda
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.pytest_cache
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/.pytest_cache

**/instance